<link rel="stylesheet" href="../../public/css/partials/courses-nav.css">

<article class="courses">
    <nav class="page">
        <ul>
            <li><a class="browseBtn" href="#a">Browse</a></li>
            <li><a class="ongoingBtn">Ongoing</a></li>
            <li><a class="publishedBtn">Published</a></li>
            <li><a class="draftsBtn">Drafts</a></li>
        </ul>
    </nav>
</article>