<link rel="stylesheet" href="../../public/css/partials/courses-nav.css">

<article class="courses">
    <nav class="page">
        <ul>
            <li><a class="browseBtn" href="/courses/browse">Browse</a></li>
            <li><a class="ongoingBtn" href="/courses/ongoing">Ongoing</a></li>
            <li><a class="publishedBtn" href="/courses/published">Published</a></li>
            <li><a class="draftsBtn" href="/courses/drafts">Drafts</a></li>
        </ul>
    </nav>
</article>