<link rel="stylesheet" href="../../public/css/partials/footer.css">
<footer>
    <p>About</p>
    <div class="contacts">
        <a href="https://github.com/tami-cp0/Eureka"><img src="../../public/images/github.svg" alt=""></a>
        <a href="https://www.instagram.com/tami_cp0"><img src="../../public/images/instagram-circle.svg" alt=""></a>
        <a href="https://x.com/tami_cp0"><img src="../../public/images/twitter-circled.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/tami-cp0/"><img src="../../public/images/linkedin-circled.svg" alt=""></a>
    </div>
</footer>