<link rel="stylesheet" href="../../public/css/partials/header.css">

<section class="header">
    <article>
        <h1>Eureka</h1>
        <div>
            <div class="searchBar">
                <img src="/public/images/search.svg">
                <input type="text" placeholder="search for courses">
            </div>
            <a class="homeBtn" href="/home">Home</a>
            <a class="publishBtn" href="/publish">Publish</a>
            <a class="coursesBtn" href="/courses/browse">Courses</a>
            <a class="settingsBtn">Settings</a>
            <div class="profilePic"></div>
        </div>
    </article>
</section>