<link rel="stylesheet" href="../../public/css/partials/header.css">

<section class="header">
    <article>
        <h1>Eureka</h1>
        <div>
            <div class="searchBar">
                <img src="/public/images/search.svg">
                <input type="text" placeholder="search for courses">
            </div>
            <p class="homeBtn">Home</p>
            <p class="publishBtn">Publish</p>
            <p class="coursesBtn">Courses</p>
            <p class="settingsBtn">Settings</p>
            <div class="profilePic"></div>
        </div>
    </article>
</section>