<link rel="stylesheet" href="../../public/css/partials/header.css">

<section class="header">
    <article>
        <h1>Eureka</h1>
        <div>
            <div class="searchBar">
                <img src="/public/images/search.svg">
                <input type="text" placeholder="search for courses">
            </div>
            <a class="homeBtn" href="/home">Home</a>
            <a class="publishBtn" href="/publish">Publish</a>
            <a class="coursesBtn" href="/courses/browse">Courses</a>
            <a class="settingsBtn">Settings</a>
            <img src="https://ui-avatars.com/api/?name=<%= user.firstName %>+<%= user.lastName %>&rounded=true&size=50&bold=true&color=edf2f7&background=1a202c" class="profilePic" alt="User Avatar">

        </div>
    </article>
</section>