<link rel="stylesheet" href="../../public/css/partials/preloader.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<div class="preloader">
    <div class="loading">
 <p>loading</p>
       <span></span>
    </div>
 </div>

 <script>
    $(window).on('load', function() {
        $('.preloader').fadeOut();
    });
 </script>
 