<link rel="stylesheet" href="../../public/css/partials/settings.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../public/scripts/settings.js" defer></script>
<aside class="settings show">
    <img src="../../public/images/cancel.svg">
    <a>Coming soon!</a>
    <a>Log out</a>
</aside>