<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../../public/css/courses/browse.css">
</head>
<body>
    <div class="courses-header">
        <%- include('../partials/header') %>
    </div>
    <article class="browse-nav">
        <%- include('../partials/courses-nav') %>
    </article>
    <section class="courses-view">
        <div class="cards">
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <div class="heading">
                    <h5 class="title">HTML for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
            </div>
            <div class="card">
                <img src="../public/images/graphicds.png" class="courseImage">
                <p class="niche">Design</p>
                <div class="heading">
                    <h5 class="title">Graphic design tutorial</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
            </div>
            <div class="card">
                <img src="../public/images/learnps.jpg" class="courseImage">
                <p class="niche">Design</p>
                <div class="heading">
                    <h5 class="title">PhotoShop for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">3 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
            </div>
        </div>
        <p class="showmore">Show more</p>
    </section>
    <footer></footer>
</body>
</html>