<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../../public/css/courses/drafts.css">
</head>
<body>
    <div class="courses-header">
        <%- include('../partials/header') %>
    </div>
    <%- include('../partials/settings') %>
    <article class="drafts-nav">
        <%- include('../partials/courses-nav') %>
    </article>
    <section class="courses-view">
        <div class="cards">
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <h6>Chapters: 3</h6>
                <h6>Quiz: 3</h6>
                <h6>Title: Not set</h6>
                <h6>Duration: Not set</h6>
                <div class="overlay">
                    <a>Resume</a>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>