<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../../public/css/courses/published.css">
</head>
<body>
    <%- include('../partials/preloader') %>
    <div class="courses-header">
        <%- include('../partials/header') %>
    </div>
    <%- include('../partials/settings') %>
    <article class="published-nav">
        <%- include('../partials/courses-nav') %>
    </article>
    <section class="courses-view">
        <div class="cards">
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <div class="heading">
                    <h5 class="title">HTML for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
                <div class="overlay">
                    <div>
                        <h2>View stats</h2>
                    </div>
                    <p>Views: 11</p>
                    <p>Started: 7</p>
                    <p>Completed: 3</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <div class="heading">
                    <h5 class="title">HTML for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
                <div class="overlay">
                    <div>
                        <h2>View stats</h2>
                    </div>
                    <p>Views: 11</p>
                    <p>Started: 7</p>
                    <p>Completed: 3</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <div class="heading">
                    <h5 class="title">HTML for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
                <div class="overlay">
                    <div>
                        <h2>View stats</h2>
                    </div>
                    <p>Views: 11</p>
                    <p>Started: 7</p>
                    <p>Completed: 3</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/htmltut.jpg" class="courseImage">
                <p class="niche">Tech</p>
                <div class="heading">
                    <h5 class="title">HTML for beginners</h5>
                    <img src="../public/images/dot.svg">
                    <p class="courseDuration">2 months</p>
                </div>
                <h6 class="author">Tamilore</h6>
                <div class="overlay">
                    <div>
                        <h2>View stats</h2>
                    </div>
                    <p>Views: 11</p>
                    <p>Started: 7</p>
                    <p>Completed: 3</p>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>