<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
</head>
<body>
    <section class="center">
        <article class="left">
            
        </article>
        <article class="right">
        </article>
    </section>
</body>
</html>