<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../public/css/home.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- <script src="../public/scripts/home.js" defer></script> -->
</head>
<body>
    <div class="home-header">
        <%- include('partials/header') %>
    </div>
    <section class="publishMsg">
        <h1>Publish</h1>
        <article>
            <p>Publish your first course today and reach thousands of eager learners around the world. Share your knowledge, inspire others, and make a lasting impact by creating valuable content that educates and empowers.</p>
            <a href="#publish">Get started now</a>
        </article>
    </section>
    <section class="recents">
        <h1>Recently viewed</h1>
        <p>You have not viewed any courses yet</p>
    </section>
    <section class="popular">
        <h1>Most popular courses</h1>
        <div class="card">
            
        </div>
    </section>
    <section class="getStarted"></section>
    <footer></footer>
</body>
</html>