<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <%- include('partials/preloader') %>
    <div class="home-header">
        <%- include('partials/header') %>
    </div>
    <%- include('partials/settings') %>
    <%- include('partials/footer') %>
</body>
</html>