<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../public/css/signup.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../public/scripts/signup.js" defer></script>
</head>
<body>
    <section class="center">
        <article class="left-section">
            <div class="text">
                <h1>Eureka</h1>
                <p>Discover The Joy of Learning</p>
            </div>
            <img src="../public/images/center.svg">
        </article>
        <article class="right-section">
            <nav>
                <ul>
                  <li><a href="#about">About</a></li>
                  <li><a href="#help">Help</a></li>
                </ul>
            </nav>
            <div class="text">
                <h3>Create a <span>new</span> account.</h3>
                <p>Already have an account? <span><a href="/login">Login</a></span></p>
            </div>
            <form action="" method="post">
                <div class="name">
                    <div class="first_name">
                        <input type="text" id="first_name" name="firstName">
                        <label for="first_name">First name</label>
                    </div>
                    
                    <div class="last_name">
                        <input type="text" id="last_name" name="lastName">
                        <label for="last_name">Last name</label>
                    </div>
                </div>
              
                <div class="credential">
                    <div class="email">
                        <input type="email" id="email" name="email">
                        <% if (flash.error) { %>
                            <label for="email"><%= flash.error %></label>
                        <% } else { %>
                            <label for="email">Email</label>
                        <% } %>
                    </div>
                    <img src="../public/images/mail.svg">
                </div>
              
                <div class="credential">
                    <div class="password">
                        <input type="password" id="password" name="password">
                        <label for="password">Password</label>
                    </div>
                    <img id="eye" class="hide" src="../public/images/closedeye.svg">
                </div>

                <div class="credential">
                    <div class="password">
                        <input type="password" id="confirm" name="confirm">
                        <label for="confirm">Confirm password</label>
                    </div>
                    <img id="eye" class="hide" src="../public/images/closedeye.svg">
                </div>
              
                
                <input type="submit" value="Create account" id="submit">

            </form>
        </article>
    </section>
</body>
</html>