<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eureka</title>
    <link rel="stylesheet" href="../public/css/viewCourse.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <%- include('partials/preloader') %>
    <div class="publish-header">
        <%- include('partials/header') %>
    </div>
    <section class="view-section">
        <section class="left">
        </section>
        <section class="right">
    </section>
    <%- include('partials/settings') %>
</body>
</html>