@import 'normalize.css';

:root {
    --primary-color: #EDF2F7;
    --secondary-color: #1A202C;
    --background-color: #E2F0FE;
    --sub-background: #283041;
    --subtext-color: #6A6E72;
    --sub: #91B3FA;
}

body {
    height: auto;
    background-color: #F5F5F5;
    border: 1px solid transparent;
}

body > section {
    border: 1px solid blue;
    height: 500px;
    width: 85%;
    margin: 0 auto;
}

.publishMsg {
    margin-top: 90px;
    height: 400px;
}

.publishMsg h1 {
    margin-top: 40px;
}

h1 {
    font-weight: 400;
}

.publishMsg p {
    width: 50%;
}

.publishMsg a {
    display: flex;
    background-color: var(--secondary-color);
    width: 15%;
    height: 40px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
    color: var(--primary-color);
}

.recents { height: 300px;}
.recents p {
    color: var(--subtext-color);
}

.popular {
    height: auto;
}

.cards {
    display: flex;
    gap: 42px;
    width: 100%;
    border: 1px solid red;
}


.card {
    background-color: var(--sub-background);
    color: var(--primary-color);
    width: 400px;
    height: 350px;
    padding: 2px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, .25);
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    backdrop-filter: blur(15px);
}

.card > img {
    width: 390px;
    max-height: 200px;
    margin: 0 auto;
    margin-top: 1px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    border-top-right-radius: 50px;
}

.card .niche {
    background-color: rgba(237, 242, 247, 0.1);
    color:  rgba(237, 242, 247, 0.8);
    font-weight: 100;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
}

.card .heading {
    display: flex;
    width: 380px;
    align-items: center;
    margin-left: 10px;
    margin-top: 8px;
}

.card .heading h5 {
    font-size: 16px;
    max-height: 35px;
    max-width: 280px;
    width: auto;
    word-wrap: break-word;
}

.card .heading > img, .heading > p{
    color:  rgba(237, 242, 247, 0.8); 
    font-size: 12px;
}

.card .author {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .card-footer {
    margin-left: 10px;
}

.showmore {
    width: 10%;
    height: 40px;
    margin-top: 30px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}


/* .card {
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    max-width: 500px;
    height: 300px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  } */
