@import 'normalize.css';

:root {
    --primary-color: #EDF2F7;
    --secondary-color: #1A202C;
    --background-color: #E2F0FE;
    --sub-background: #283041;
    --subtext-color: #6A6E72;
}

footer {
    height: 90px;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: stick;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 40px;
    cursor: pointer;
    margin-left: 10px;
    fill: red;
}

footer .contacts { margin-right: 80px;}
footer p { margin-left: 80px;}