@import './normalize.css';
@import '../partials/cards.css';

:root {
    --primary-color: #EDF2F7;
    --secondary-color: #1A202C;
    --background-color: #E2F0FE;
    --sub-background: #283041;
    --subtext-color: #6A6E72;
    --sub: #91B3FA;
    --body: #f5f5f5;
}


.settings {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Width of the settings panel */
    height: 100%; /* Full viewport height */
    background-color: var(--primary-color); /* Background color */
    color: #EDF2F7; /* Text color */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
    z-index: 802; /* above course-nav */
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    overflow: hidden;
}

.settings a {
    margin-top: 100px;
    color: var(--secondary-color);
    width: fit-content;
    font-weight: 500;
}

.settings .logout {
    /* margin-top: 550px; */
    color: red;
    /* padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid var(--sub-background); */
}

.settings .delete {
    color: red;
}


.settings img {
    margin-top: 100px;
    margin-left: 200px;
    cursor: pointer;
}
